body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

body img {
    display: block;
}



.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}



.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 72px;
    justify-content: space-around;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.webstudio {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-right: 76px;
}

.webstudio:hover {
    color: #404bbf;
}

.webstudio:focus {
    color: #404bbf;
}





.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;

}

.nav-link {
    padding: 24px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    list-style-type: none;
    color: #404bbf;
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;

}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}



.address-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.adres-link {
    width: 153px;
    height: 24px;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adres-link:hover {
    color: #404bbf;
}

.adres-link:focus {
    color: #404bbf;
}





.effective {
    padding: 188px 0;
    background-color: #2e2f42;
    max-width: 1440px;
    height: 600px;
    top: 72px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
}

.buton {
    background-color: #4d5ae5;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.5;
    border-radius: 4px;
    padding: 16px 32px;
    gap: 10px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0, 02em;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buton:hover {
    background-color: #404bbf;
}

.buton:focus {
    background-color: #404bbf;
}




.about {
    padding: 120px 0;
}

.visually-hidden {
    display: none;
}

.about-list {
    display: flex;
    gap: 24px;
    list-style-type: none;
}

.about-li {
    flex-basis: calc((100% - 72px) / 4);
}

.about-baslik {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.about-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}




.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-baslik {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    width: calc((100% - 72px) / 4);
    list-style-type: none;
}

.team-li {
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-basis: calc((100% - 72px) / 4);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
}

.team-unvan {
    padding: 32px 0;
}

.team-isim {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.team-p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    letter-spacing: 0.02em;
    text-align: center
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
}

.social-media-list {
    width: 40px;
    height: 40px;
}

.social-media-list-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-list-a:hover {
    background-color: #404bbf;
}

.social-media-list-a:focus {

    background-color: #404bbf;
}

.social-media-list-svg {
    fill: #f4f4fd;
}








.portfolio {
    padding: 120px 0;
}

.portfolio-baslik {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style-type: none;
}

.portfolio-li {
    flex-basis: calc((100% - 72px) / 4);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio-li:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
}

.portfolio-app {
    margin-bottom: 8px;
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-is {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfoliop {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transform: translateY(0%);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.portfolio-image-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.footer {
    background-color: #2e2f42;
    width: 1440px;
    height: 312px;
    top: 2988px;
    padding: 100px 0;
}

.footer-all {
    display: flex;
    align-items: baseline;
}

.footer-link {
    margin-right: 120px;
}

.footer-link-a {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.footerp {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-logo-span {
    color: #2e2f42;
}

.social-media-footer-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
}

.social-media-footer-list {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.social-media-footer-li {
    width: 40px;
    height: 40px;
}

.social-media-footer-a {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer-a:hover {
    background-color: #31d0aa
}

.social-media-footer-a:focus {
    background-color: #31d0aa;
}

.social-media-footer-svg {
    fill: #f4f4fd;
}






.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 408px;
    height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;

}

.modal-form {
    margin-bottom: 8px;
}


.form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.form-in-svg {
    position: relative;

}

.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
    border-color: #4d5ae5;
}

.form-svg {
    position: absolute;
    left: 16px;
    top: 50%px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #4d5ae5;


}
.form-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover {
    background-color: #404bbf;
}
.form-button:focus {
    border: none;
}
.form-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;

}
.form-comment {
    margin-bottom: 16px;
}
.form-textarea {
    width: "100%";
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea:focus {
    border-color: #4d5ae5;
}

.form-privacy {
    margin-bottom: 24px;
}
.form-privacy-label {
    font-size: 12px;
    line-height: 1.17px;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-button-iki {
    display: block;
    min-width: 169px;
    height: 56px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}